.priceOptimization-allContent{
    display: flex;
    height: 100vh; /* Ensure it takes the full viewport height */
    background-color: #f4f5f7;
}

.priceOptimization-sideNavBar{
    width: 200px; /* Set a fixed width for the sidebar */
    background-color: #f4f5f7;
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    position: sticky; /* Makes the sidebar sticky */
    top: 0; /* Ensures it stays at the top while scrolling */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden; /* Disable scrolling */
}

.priceOptimization-pages{
    flex: 1; /* Takes up the remaining width */
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Allow vertical scrolling */
    background-color: #f4f5f7;
}




.priceOptimization-sideNavBar-nav-list{
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
}

.priceOptimization-sideNavBar-nav-item{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.priceOptimization-sideNavBar-nav-item:hover{
    background-color: #e9e7e7;
    border-radius: 10px;
}

.priceOptimization-sideNavBar-nav-item.active{
    background-color: #E0B50F;
    border-radius: 10px;
    color: #283646  ;
    font-weight: bold;
}

.demand-analysis-current-product-row {
    background-color: #E0B50F !important;
    border-radius: 10px;
  }
  


